body{
    font-family: 'Inter', sans-serif;
}

.active{
    background-color: #D75322 !important;
}

.Active{
    color: $info;
    font-weight: 500;
}

.nav-link:hover{
    color: $info !important;
    font-weight: 500 !important;
}

a{
    text-decoration: none ;
}

.item-link{
    transition: 0.2s;
}

.item-link:hover{
    background-color: $info;
}

.dropdown-item:hover{
    color: $primary !important;
}

.coverPhoto{
    width: 200px ;
    height: 300px;
    object-fit: contain;
    background-color: $info;
}
